/* ----------------------------------------------------
            Imports
----------------------------------------------------- */
@import "ut.less";

/* ----------------------------------------------------
            Global
----------------------------------------------------- */
body { background:#f8f6ed; color:#333333; }
body a { color:#DE5A51; }

/* ----------------------------------------------------
            Typography
----------------------------------------------------- */
h1 { text-align:center; font-weight:normal; }

/* ----------------------------------------------------
            Navigation
----------------------------------------------------- */
.site-navigation { border-bottom:4px double rgba(0,0,0,.15); }

/* ----------------------------------------------------
            Textblocks
----------------------------------------------------- */
.recommend-items { font-family:'PT Serif', serif; }
.recommend-items h2 { margin-bottom:40px; text-align:center; font-weight:normal; }
.recommend-items h3 { font-weight:normal; margin-bottom:0; }
.recommend-item { padding-top:20px; border-top:4px double rgba(0,0,0,.15); }
.recommend-item:after { .ut-clear(); }
.recommend-item-img { float:left; margin-right:4%; width:26%; }
.recommend-item-info { float:left; width:70%; }


