<!doctype html>
<html lang="en">
    <head>
        
        <!-- Metadata -->
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="title" content="{{ page.title }}" />
        <meta name="description" content="{{ page.excerpt }}" />
        <meta property="og:site_name" content="{{ page.title }}" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:description" content="{{ page.excerpt }}" />
        <meta property="og:type" content="company" />
        
        <!-- CSS -->
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css' />
        <link href="../assets/css/min/site.css" rel="stylesheet" type="text/css" />
        <link href="../assets/css/min/{{ page.css }}.css" rel="stylesheet" type="text/css" />
   </head>
    <body class="site">
        
        <!-- Navigation -->
        {% include navigation.md %}
        
        <!-- Content -->
        {{ content }}

        <!-- Javascript -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="../assets/js/jquery.ga.js"></script>
        <script src="../assets/js/site.js"></script>
        
        <!-- Javascript / Google Analytics -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-129923-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>